<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link rel="icon" type="image/png" href="https://images.vexels.com/media/users/3/144928/isolated/preview/ebbccaf76f41f7d83e45a42974cfcd87-ilustracion-de-perro.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui_system.css') }}">
</head>

<body class="auth-page">

<div class="container">
    <div class="top"></div>
    <div class="bottom"></div>

    <div class="center">

        <h2>Registro</h2>

        <form method="POST">

            <input type="text" name="nombre" placeholder="Nombre completo" required>

            <input type="email" name="correo" placeholder="Correo electrónico" required>

            <input type="password" name="password" placeholder="Contraseña" required>

            <!-- TIPO DE USUARIO -->
            <select name="tipo" required>
                <option value="" disabled selected>Tipo de usuario</option>
                <option value="dueno">Dueño de mascota</option>
                <option value="veterinario">Veterinario</option>
            </select>

            <button type="submit">Registrarse</button>

        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <p class="text-center">
            ¿Ya tienes cuenta?
            <br>
            <a href="{{ url_for('auth.login') }}" class="btn-link">
                Iniciar Sesión
            </a>
        </p>

    </div>
</div>

</body>
</html>